// @import ;

@import "SCSS/helpers/mixin";
@import "SCSS/variables/colors";
@import "SCSS/layout/navbar";


body{
    
    font-weight: normal;
}

.container {
    padding-left: 5rem;
    padding-right: 5rem;
    position: relative;
}

.fixed {
    position: fixed;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.main-color{
    color: $mainColor;
}

.text-white {
    color: $colorWhite;
}

.bg-white {
    background-color: $colorWhite;
}

.text-second-color{
    color: $secondColor;
}
.text-thred-color{
    color: $thredColor;
}
.text-info{
    color: $infoColor;
}
.bg-second-color{
    background-color: $secondColor;
}
.bg-thred-color{
    background-color: $thredColor;
}
.bg-info{
    background-color: $infoColor;
}
.bg-linear-gradient-main{
    background-image: linear-gradient(60deg, #423064 0%, $secondColor 100%);
}

.fs-1 {
    font-size: calc(1.375rem + 1.5vw) !important;
  }
  
  .fs-2 {
    font-size: calc(1.325rem + 0.9vw) !important;
  }
  
  .fs-3 {
    font-size: calc(1.3rem + 0.6vw) !important;
  }
  
  .fs-4 {
    font-size: calc(1.275rem + 0.3vw) !important;
  }
  
  .fs-5 {
    font-size: 1.25rem !important;
  }
  
  .fs-6 {
    font-size: 1rem !important;
  }


hr {
    height: 1px;
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

.list-none{
    list-style: none;
}

ul {
    list-style: none;
}

.bg-transparent{
    background-color: transparent;
}
.text-transparent{
    color: transparent;
}

.border{
    border: 1px solid $colorLight;
}
.border-second-color{
    border: 1px solid $secondColor;
}

.border-0{
    border: none;
}

.border-bottom{
    border-bottom: 3px solid $colorLight;
}

.box-shadow{
    box-shadow: 0px 6px 9px 7px $colorLight;
}

@include buttomStyle(btn-main);

.z-index-1{
    z-index: 1;
}
.z-index-2{
    z-index: 1;
}

.fw-bold{
    font-weight: bold;
}
.pointer{
    cursor: pointer;
}
.font-family{
    font-family: 'Helvetica Neue LT Pro';
    font-weight: 900;
}

.row{
    display: flex;
}

.row > *{
    flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
}

$border: ('white': white, 'second': 'secondColor');
@each $key, $value in $border {
    @for $i from 0 to 5 {
        @if $key == 'white' {
            .border-bottom-#{$key}-#{$i}{
                border-bottom: #{$i}px solid $value;
            }
        } @else if $key == 'second' {
            .border-bottom-#{$key}-#{$i}{
                border-bottom: #{$i}px solid $secondColor;
            }
        }
    }
}

$calce: 100% / 12;
@for $i from 1 through 12 {
    .col-md-#{$i} {
        width: $calce * $i;
        margin: 0 10px;
    }
}

@each $key, $value in $text {
    .text-#{$key}{
        text-align: $value;
    }
}

$allMargin: ('margin': 'm', 'margin-top':'mt', 'margin-bottom': 'mb', 'margin-left':'me', 'margin-right':'ms');
$margin: 0.25rem;
$count : 0;

@each $name,
$value in $allMargin {
    @for $m from 0 to 6 {
        @if $name=='margin' {
            .#{$value}-#{$m} {
                margin: $margin *$m +$m *$count !important;
                $count: +0.25;
            }

        }

        @else if $name=='margin-top' {
            .#{$value}-#{$m} {
                margin-top: $margin *$m +$m *$count !important;
                $count: +0.25;
            }
        }

        @else if $name=='margin-bottom' {
            .#{$value}-#{$m} {
                margin-bottom: $margin *$m +$m *$count !important;
                $count: +0.25;
            }
        }

        @else if $name=='margin-left' {
            .#{$value}-#{$m} {
                margin-left: $margin *$m +$m *$count !important;
                $count: +0.25;
            }
        }

        @else if $name=='margin-right' {
            .#{$value}-#{$m} {
                margin-right: $margin *$m +$m *$count !important;
                $count: +0.25;
            }
        }
    }
}

$allPadding: ('padding': 'p', 'padding-y':'py', 'padding-x': 'px', 'padding-top':'pt', 'padding-bottom':'pb', 'padding-left':'pe', 'padding-right':'ps');
$padding: 0.25rem;
$count : 0;

@each $name,
$value in $allPadding {
    @for $p from 1 to 6 {
        @if $name=='padding' {
            .#{$value}-#{$p} {
                padding: $padding *$p +$p *$count !important;
                $count: +0.25;
            }

        }

        @else if $name=='padding-y' {
            .#{$value}-#{$p} {
                padding-top: $padding *$p +$p *$count !important;
                padding-bottom: $padding *$p +$p *$count !important;
                $count: +0.25;
            }
        }

        @else if $name=='padding-x' {
            .#{$value}-#{$p} {
                padding-left: $padding *$p +$p *$count !important;
                padding-right: $padding *$p +$p *$count !important;
                $count: +0.25;
            }
        }

        @else if $name=='padding-left' {
            .#{$value}-#{$p} {
                padding-left: $padding *$p +$p *$count !important;
                $count: +0.25;
            }
        }

        @else if $name=='padding-right' {
            .#{$value}-#{$p} {
                padding-right: $padding *$p +$p *$count !important;
                $count: +0.25;
            }
        }

        @else if $name=='padding-top' {
            .#{$value}-#{$p} {
                padding-top: $padding *$p +$p *$count !important;
                $count: +0.25;
            }
        }

        @else if $name=='padding-bottom' {
            .#{$value}-#{$p} {
                padding-bottom: $padding *$p +$p *$count !important;
                $count: +0.25;
            }
        }
    }
}



@for $i from 1 through 10 {
    .wv-#{$i*10} {
        width: $i *10vw;
    }
}
@for $i from 1 through 10 {
    .w-#{$i*10} {
        width: $i *10%;
    }
}

@for $i from 1 through 10 {
    .hv-#{$i*10} {
        min-height: $i *10vh;
    }
}
@for $i from 1 through 10 {
    .h-#{$i*10} {
        height: $i *10%;
    }
}

@if '.ar' {
    .ar {
        direction: rtl;
    }

    .me-2{
        margin-right: 1.5rem;
    }

    .flex-row-reverse {
        flex-direction: row-reverse;
    }
}

.home {
    .hero{
        transform: inherit;
        overflow: hidden;
        .hero-info{
            opacity: 0;
            left: 200%;
            transition: all 3s; 
        }
        
        .hero-info.active{
            opacity: 1;
            position: relative;
            left: 0;
        }
    }
    .bottom{
        @include position(absolute, 10px, 22px);
        right: 10%;
        top: 50%;
        z-index: 1000;
        ul li{
            width: 4px;
            height: 29px;
            background-color: white;
            margin: 6px;
            position: relative;
        }

        ul li.active::after{
            content: "";
            @include position(absolute, 4px, 16px);
            top: 0;
            background-color: $mainColor;
        }
    }
}

.rate-list{
    box-shadow: 0px 4px 6px 5px $colorLight;
}

.mySlides.active{
    animation: myslides 1s ease-in-out;
}
@keyframes myslides{
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}
.services{
    width: 98vw;
    
    .images{
        .images-transform{
            transform: scaleX(2.5);
            top: 8%;
            left: 51%;
        }
        .img-tow{
            top: 5%;
        }
    }
    &::after{
        content: '';
        @include position(absolute, 100%, 50%);
        background-color: white;
        opacity: .9;
        top: 45%;
        left: 0;
    }
    
    .images-kuraimi{
        top: 45%;
        width: 100%;
    }
    @include trendsBotton(63%);
    .dot.active{
        color: #423064;
        font-weight: bold;
        position: relative;
        animation: myslides 1s ease-in-out;
        &::after{
            content: "";
            @include position(absolute, 2px, 16px);
            top: 71%;
            left: 50%;
            background-color: $secondColor;
        }
    }
}

.app{
    background-color: #eff1f1;
    margin-top: 10%;
    .slides-app{
        overflow-x: clip;
        .item-app{
            animation: appLeft 1.2s ease-in-out forwards;
            border-radius: 10px;
        }
        .item-app.active{
            animation: appRight 1.2s ease-in-out forwards;
        }
    }
    
    .cicle{
        z-index: 10;
        height: 9px; 
    }
    
}

@keyframes appRight{
    0%{
        left: -66%;
        height: auto;
    }
    100%{
        left: 20%;
        height: 45vh;
    }
}
@keyframes appLeft{
    0%{
        opacity: 1;
    }50%{
        opacity: 0;
    }
    70%{
        left: -166%;
        opacity: .5;
    }100%{
        left: -66%;
        opacity: 1;
    }
}
.items.active{
    background-color: $secondColor;
    width: 20%;
}
.items{
    background-color: #9e9d9d;
    width: 5%;
    margin-right: 10px;
    border-radius: 23px;
    height: 100%;
}

// .app-list{
//     width: 100%;
//     top: 125%;
//     z-index: 10;
//     right: 0%;
//     span{
//         width: 10%;
//         background-color: white;
//         border-radius: 10%;
//         height: 10px;
//         border: 1px solid #CCC;
//     }
//     span.active{
//         background-color: $secondColor;
//         width: 30%;
//     }
// }

.news{
    
    margin-top: 6rem;
    .text-titlr{
        margin-bottom: 5rem;
    }
    &::before{
        
        content: '';
        @include position(absolute, 100%, 0%);
        bottom: 0px;
        border: 581px solid transparent;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        border-bottom-color: #f2f5f5;
        left: 50%;
    }
    
    .news-info{
        z-index: 0;
        // top: -100%;
        transition: all 1s ease-in-out;
        background-color: #423064d3;
        clip-path: circle(0px at top);
        &::after{
            content: '';
            @include position(absolute, 1px, 10%);
            background-color: $colorLight;
            top: 0;
            left: 50%;
        }
    }
    .content{
        overflow: hidden;
        &:hover{
            .news-info{
                top: 0;
                transition: all 1s ease-in-out;
                clip-path: circle(1000px at top);
            }
        }
        .news-button button{
            margin: 5% 29%;
        }
    }
    .card-slider{
        scroll-behavior: smooth;
        overflow-x: auto;
        .card{
            flex: 0 0 auto;
            width: 43%;
            margin-right: 37px;
            box-shadow: 0px 16px 6px 1px white;;
        }
        &::-webkit-scrollbar{
            display: none;
        }
    }
    @include trendsBotton(45%);
}

.mySlides p{
    font-size: 20px;
    margin: 0;
}

.numbers{
    background-image: linear-gradient(60deg, #423064f5 0%, #261a3cfd 100%);
    .number h1 a::before{
        font-size: 30rem;
        z-index: -1;
        content: attr(data-after);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        letter-spacing: 50px;
        transition: 1s ease letter-spacing;
        color: black;
    }
    .number h1:hover a::before{
        transform: translate(-50%, -50%) scale(1);
        letter-spacing: initial;
    }
    .number p{
        font-size: 17px;
    }
}

.maps{
    h3{
        border-left: 4px solid $secondColor;
    }
}

.footer{
    overflow: hidden;
    hr{

    }
    h1{
        font-size: 15px;
    }
    p{
        font-size: 13px;
        color: #CCC;
    }
    .layout-image{
        @include position(absolute, 100%, 100%);
        top: 0;
        .img-one{
            @include position(absolute, 100%, 100%);
            left: -13%;
            top: -31%;
            transform: rotateY(188deg);
        }
        .img-tow{
            @include position(absolute, 100%, 100%);
            right: -13%;
            top: -31%;
        }
    }
}

.col {
    flex: 1 0 0%;
}

$col_sm: 100%;
@media (min-width: 576px) {
    @for $i from 1 to 7 {
        .row-cols-sm-#{$i} > *{
            flex: 0 0 auto;
            width: $col_sm / $i;
        }
    }

    .row{
        flex-wrap: wrap;
    }

    .mySlides .images{
        display: none;
    }

    .app .cicle{
        top: 92%;
    }

}
@media (min-width: 768px) {
    @for $i from 1 to 7 {
        .row-cols-md-#{$i} > *{
            flex: 0 0 auto;
            width: $col_sm / $i;
        }
    }
    .mySlides .images{
        width: 30%;
        display: block;
    }
    .mySlides .mySlides-info{
        width: 70%;
    }
}
@media (min-width: 992px) {
    @for $i from 1 to 7 {
        .row-cols-lg-#{$i} > *{
            flex: 0 0 auto;
            width: $col_sm / $i;
        }
    }
    .news .card-slider .card {
        width: 30%;
    }
}
@media (min-width: 1200px) {
    @for $i from 1 to 7 {
        .row-cols-lx-#{$i} > *{
            flex: 0 0 auto;
            width: $col_sm / $i;
        }
    }

    $font-size: 7em;

    @for $fs from 1 to 7 {
        .fs-#{$fs} {
            font-size: $font-size -$fs !important;
        }
    }

    .number p{
        font-size: 20px !important;
    }

    .app .cicle{
        top: 105%;
    }
}




// @media(max-width:768px){
//     .row{
//         flex-wrap: wrap;
//     }
//     .row > * {
//         flex-shrink: 0;
//         width: 100%;
//         max-width: 100%;
//     }
// }

