// @import ;

@import "SCSS/helpers/mixin";
@import "SCSS/variables/colors";
@import "SCSS/layout/navbar";

html{
    overflow-x: hidden;
}
body{
    overflow-x: clip;
    font-weight: normal;
}

.container {
    padding-left: 5rem;
    padding-right: 5rem;
    position: relative;
}

.fixed {
    position: fixed;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.main-color{
    color: $mainColor;
}

.text-white {
    color: $colorWhite;
}

.bg-white {
    background-color: $colorWhite;
}

.text-second-color{
    color: $secondColor;
}
.text-thred-color{
    color: $thredColor;
}
.text-info{
    color: $infoColor;
}
.bg-second-color{
    background-color: $secondColor;
}
.bg-thred-color{
    background-color: $thredColor;
}
.bg-info{
    background-color: $infoColor;
}
.bg-linear-gradient-main{
    background-image: linear-gradient(60deg, $secondColor  0%, #423064 100%);
}

.text-light-color{
    color: $colorLight;
}
.bg-light-color{
    background-color: $colorLight;
}
.text-light-color-2{
    color: $colorLight-2;
}

.fs-1 {
    font-size: calc(1.375rem + 1.5vw) !important;
  }
  
  .fs-2 {
    font-size: calc(1.325rem + 0.9vw) !important;
  }
  
  .fs-3 {
    font-size: calc(1.3rem + 0.6vw) !important;
  }
  
  .fs-4 {
    font-size: calc(1.275rem + 0.3vw) !important;
  }
  
  .fs-5 {
    font-size: 1.25rem !important;
  }
  
  .fs-6 {
    font-size: 1rem !important;
  }


hr {
    height: 1px;
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

.list-none{
    list-style: none;
}

ul {
    list-style: none;
}

.bg-transparent{
    background-color: transparent;
}
.text-transparent{
    color: transparent;
}

.border{
    border: 1px solid $colorLight;
}
.border-2{
    border: 2px solid #CCC;
}
.border-second-color{
    border: 1px solid $secondColor;
}

.border-0{
    border: none;
}

.border-bottom{
    border-bottom: 3px solid $colorLight;
}

.box-shadow{
    box-shadow: 0px 6px 9px 7px $colorLight;
}

@include buttomStyle(btn-main);

.z-index-1{
    z-index: 1;
}
.z-index-2{
    z-index: 1;
}

.fw-bold{
    font-weight: bold;
}
.pointer{
    cursor: pointer;
}
.font-family-english{
    font-family: "Helvetica Neue LT Pro";
    font-weight: 300;
}

.font-family-arabic{
    font-family: "Hacen Tunisia";
}

.row{
    display: flex;
}

.row > *{
    flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

// .row-cols-1 > * {
//     flex: 0 0 auto;
//     width: 100%;
// }

.card {
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
}

$border: ('white': white, 'second': 'secondColor');
@each $key, $value in $border {
    @for $i from 0 to 5 {
        @if $key == 'white' {
            .border-bottom-#{$key}-#{$i}{
                border-bottom: #{$i}px solid $value;
            }
        } @else if $key == 'second' {
            .border-bottom-#{$key}-#{$i}{
                border-bottom: #{$i}px solid $secondColor;
            }
        }
    }
}

$calce: 100% / 12;
@for $i from 1 through 12 {
    .col-md-#{$i} {
        width: $calce * $i;
        margin: 0 10px;
    }
}

@each $key, $value in $text {
    .text-#{$key}{
        text-align: $value;
    }
}

$allMargin: ('margin': 'm', 'margin-top':'mt', 'margin-bottom': 'mb', 'margin-left':'me', 'margin-right':'ms');
$margin: 0.25rem;
$count : 0;

@each $name,
$value in $allMargin {
    @for $m from 0 to 6 {
        @if $name=='margin' {
            .#{$value}-#{$m} {
                margin: $margin *$m +$m *$count !important;
                $count: +0.25;
            }

        }

        @else if $name=='margin-top' {
            .#{$value}-#{$m} {
                margin-top: $margin *$m +$m *$count !important;
                $count: +0.25;
            }
        }

        @else if $name=='margin-bottom' {
            .#{$value}-#{$m} {
                margin-bottom: $margin *$m +$m *$count !important;
                $count: +0.25;
            }
        }

        @else if $name=='margin-left' {
            .#{$value}-#{$m} {
                margin-left: $margin *$m +$m *$count !important;
                $count: +0.25;
            }
        }

        @else if $name=='margin-right' {
            .#{$value}-#{$m} {
                margin-right: $margin *$m +$m *$count !important;
                $count: +0.25;
            }
        }
    }
}

$allPadding: ('padding': 'p', 'padding-y':'py', 'padding-x': 'px', 'padding-top':'pt', 'padding-bottom':'pb', 'padding-left':'pe', 'padding-right':'ps');
$padding: 0.25rem;
$count : 0;

@each $name,
$value in $allPadding {
    @for $p from 1 to 6 {
        @if $name=='padding' {
            .#{$value}-#{$p} {
                padding: $padding *$p +$p *$count !important;
                $count: +0.25;
            }

        }

        @else if $name=='padding-y' {
            .#{$value}-#{$p} {
                padding-top: $padding *$p +$p *$count !important;
                padding-bottom: $padding *$p +$p *$count !important;
                $count: +0.25;
            }
        }

        @else if $name=='padding-x' {
            .#{$value}-#{$p} {
                padding-left: $padding *$p +$p *$count !important;
                padding-right: $padding *$p +$p *$count !important;
                $count: +0.25;
            }
        }

        @else if $name=='padding-left' {
            .#{$value}-#{$p} {
                padding-left: $padding *$p +$p *$count !important;
                $count: +0.25;
            }
        }

        @else if $name=='padding-right' {
            .#{$value}-#{$p} {
                padding-right: $padding *$p +$p *$count !important;
                $count: +0.25;
            }
        }

        @else if $name=='padding-top' {
            .#{$value}-#{$p} {
                padding-top: $padding *$p +$p *$count !important;
                $count: +0.25;
            }
        }

        @else if $name=='padding-bottom' {
            .#{$value}-#{$p} {
                padding-bottom: $padding *$p +$p *$count !important;
                $count: +0.25;
            }
        }
    }
}



@for $i from 1 through 10 {
    .wv-#{$i*10} {
        width: $i *10vw;
    }
}
@for $i from 1 through 10 {
    .w-#{$i*10} {
        width: $i *10%;
    }
}

@for $i from 1 through 10 {
    .hv-#{$i*10} {
        min-height: $i *10vh;
    }
}
@for $i from 1 through 10 {
    .h-#{$i*10} {
        height: $i *10%;
    }
}


@if '.ar' {
    .ar {
        direction: rtl;
    }

    .me-2{
        margin-right: 1.5rem;
    }

    .flex-row-reverse {
        flex-direction: row-reverse;
    }
}

@import "SCSS/layout/index";
@import "SCSS/layout/services";

$cols : 100%;

.mySlides p{
    font-size: 20px;
    margin: 0;
}

.maps{
    h3{
        border-left: 4px solid $secondColor;
    }
}
.background-image{
    left: 0;
    top: 0%;
}

.transform-rotate-45{
    transform: rotate(45deg);
}

.service-project{
    h1{
        font-size: 20px;
    }
}

.bank-images{
    top: 0;
    z-index: -1;
    &::after{
        content: "";
        @include position(absolute, 100%, 100%);
        top: 0;
        background-color: #423064a8;
    }
    .marquee {
        /*   overflow: hidden; */
        width: 150%;
        // transform: translateX(4vw);
        display: flex;
        animation: scrolling-2 20s linear infinite;
        }
        
        .marquee-content {
          display: flex;
          flex-direction: column;
          animation: scrolling 35s linear infinite;
        }

        .marquee-content-2{
            animation: scrolling-3 30s linear infinite;
        }

        
        
        .marquee-item {
          flex: 0 0 16vw;
          margin: 0 1vw;
        }
        
        .marquee-item img {
          display: block;
          width: 100%;
        /*   padding: 0 20px; */
        }

        .marquee-content-2 img{
            width: 100%;
        }
        
        @keyframes scrolling {
          0% { transform: translateY(0); }
          100% { transform: translatey(-300vh); }
        }
        @keyframes scrolling-2 {
          0% { transform: translateX(0); }
          100% { transform: translatex(664px); }
        }
        @keyframes scrolling-3 {
          0% { transform: translateY(-216vh); }
          100% { transform: translatey(0vh); }
        }
}
.bank-hero{
    p{
        // margin: 20% 0;
    }
    
}

.about-bank{
    .items-info{
        margin-top: -15%;
        .item{
            color: #696969;
            h1{
                color: #696969;
                &::after{
                    content: "";
                    @include position(absolute, 10%, 4%);
                    top: 52%;
                    right: -11%;
                    background-color: #696969;
                }
            } 
            p{
                font-size: 16px;
                width: 90%;
                color: #696969;
            }
            .row{
                h1{
                    font-size: 22px;
                }
            }
        }
    }
    .image-line-1{
        bottom: -33%;
        left: -4%;
        width: 11%;
    }
    .image-line-2{
        top: -27%;
        left: -4%;
        width: 15%;
    }
    .image-line-3{
        top: 20%;
        right: -5%;
        width: 12%;
    }
}

.share{
    h1{
        font-size: 20px;
    }
    .icons{
        margin-bottom: 5%;
        i{
            font-size: 22px;
            color: #9b9b9b;
            margin-left: 15px;
            margin-right: 15px;
            &:hover{
                color: $secondColor;
            }
        }
    }
}

.bank-about-au{
    &::after{
        @include backgroundSection();
    }
    img{
        z-index: -1;
        left: 0;
    }
    .info{
        z-index: 1;
        p{
            font-weight: normal;
            letter-spacing: 1px;
            font-size: 18px;
            color: #c4c2c2;
        }
    }

}

.info-bank-about{
    z-index: -2;
    .dot{
        position: relative;
        &.active{
            &::after{
                @include animationSlider();
                content: "";
                @include position(absolute, 100%, 2%);
                top: 26%;
                right: -7%;
                background-color: $colorWhite;
            }
        }
    }
    .bank-info{
        border: 10px solid #CCC;
        .slider-info.active{
            @include animationSlider();
        }
        .slider-info{
            width: 90%;
        }
        p{
            letter-spacing: 2px;
            line-height: 2;
            font-size: 15px;
            font-weight: normal;
            color: #cecece;
        }
    }
    .trend{
        bottom: 8px;
        right: 15px;
    }
    .image{
        @include position(absolute, auto, auto);
        left: -55px;
        bottom: -30px;
        z-index: 0;
    }
    .line-image-1{
        top: -5%;
        left: 88%;
        width: 12%;
    }
    .line-image-2{
        top: 0%;
        left: 0%;
        width: 4%;
    }
    
}


.values-principles{
    .line-image-1{
        top: -3%;
        left: 94%;
        width: 12%;
    }
    .line-image-2{
        top: -9%;
        left: -9%;
        width: 12%;
    }
}

.share-icons{
    margin-top: 10%;
}

.about-hero{
    .row{
        margin-top: -16%;
    }
}

.about-info{
    .items-info{
        margin-top: -20%;
        .row{
            p{
                font-size: 13px;
            }
            i{
                font-size: 25px;
            }
        }
        .item{
            h2{
                color: #3a3a3a;
            }
            form{
                margin: 10% 0;
                .form-control{
                    padding: 3px;
                    border-bottom: 1px solid #5f5f5f;
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@import "SCSS/layout/success-stories";

.our-partners-info{
    .items-info{
        .row{
            margin-top: 2%;
            flex-wrap: nowrap;
            flex-direction: column;
            .partners-images{
                img{
                    width: 100%;
                    border-radius: 22%;
                    box-shadow: -2px 3px 15px 2px $colorLight;
                    margin-top: 9%;
                }
            }
            .item{
                margin: 10% 0;
            }
            .number{
                margin-top: -14%;
                right: 90%;
                font-size: 7rem;
                top: 0;
            }
            .bank-message img{
                width: 100%;
                border-radius: 22%;
                box-shadow: -2px 3px 15px 2px $colorLight;
            }
        }
    }
}

.partners-icons{
    margin-top: 2%;
}

.financial-reports-info{
    .items-info{
        overflow: clip;
        h2 span{
            font-weight: 600;
        }
    }
    .text-transform{
        left: 31%;
        transform: rotate(90deg);
        width: 100%;
        top: 40%;
    }
    .text-hidden{
        @include animationSlider();
    }
    .text-block{
        display: none;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
        @include animationSlider();
        i{
            font-size: 31px;
            margin: 0px 5px 0px 4px;
        }
    }
    .reports-info{
        width: 76%;
        .info{
            animation: reports-info 1s ease-in-out forwards;
            top: 0;
            .year{
                text-align: left;
                color: white;
                font-weight: 500;
                letter-spacing: 3px;
                transition: color 1s ease-in-out;
            }
            .text-hover{
                display: none;
                transition: all 1s ease-in-out;
                font-size: 25px;
                @include animationSlider();
            }
            .line{
                @include position(absolute, 3%, 30%);
                bottom: 0;
                background-color: white;
                right: 16%;
            }
        }
    }
    .col{
        &:hover{
            .text-hidden{
                display: none;
                @include animationSlider();
            }
            .text-block{
                display: block;
                @include animationSlider();
            }
            .reports-info{
                .info{
                    animation: reports-info-hover 1s ease-in-out forwards;
                    .year{
                        color: $secondColor;
                        transition: color 1s ease-in-out;
                    }
                    .text-hover{
                        display: block;
                        @include animationSlider();
                    }
                    .line{
                        background-color: $secondColor;
                    }
                }
            }
        }
    }
}

@keyframes reports-info-hover{
    0%{
        background-color: #423064b9;
    }100%{
        background-color: transparent;
    }
}
@keyframes reports-info{
    0%{
        background-color: transparent;
    }100%{
        background-color: #423064b9;
    }
}


.service-points{
    .row{
        .col{
            h1{
                font-size: 33px;
            }
            p{
                font-size: 25px;
            }
            
            .box{
                height: 44vh;
                margin-top: 10%;
                hr{
                    @include position(absolute, 136%, 1px);
                    background-color: #878787;
                }
                .hr-1{
                    transform: rotate(43deg);
                    top: 47%;
                    left: -18%;
                }
                .hr-2{
                    transform: rotate(137deg);
                    top: 48%;
                    left: -18%;
                }
            }
        }
        .div-box{
            align-items: center;
        }
    }
}

.service-points-map{
    .background-image{
        object-fit: cover;
    }
    .items-info{
        
        margin-top: -8%;
        .form-group{
            label{
                margin: 20px 0;
                font-size: 25px;
                color: #b3acac;
            }
            select{
                border: 1px solid #b3acac;
                color: #797878;
                font-size: 25px;
                &:focus{
                    border: none;
                }
            }
        }
        .buttom{
            margin-top: 25%;
            button{
                padding: 17px 0px;
                font-size: 25px;
            }
        }
        .item{
            h1{
                color: $secondColor;
                &::after{
                    background-color: $secondColor;
                    width: 8%;
                }
            }
            p{
                text-align: right;
                width: 98%;
            }
        }
    }
    .info-map{
        .row{
            background-image: linear-gradient(60deg, #ffffff62 0%, #fffffffd 100%);
            width: 95%;
            box-shadow: -29px 10px 23px 6px #ffffffb0;
        }
    }
}

.footer{
    overflow: hidden;
    hr{

    }
    h1{
        font-size: 15px;
    }
    p{
        font-size: 13px;
        color: #CCC;
    }
    .layout-image{
        @include position(absolute, 100%, 100%);
        top: 0;
        .img-one{
            @include position(absolute, 100%, 100%);
            left: -13%;
            top: -31%;
            transform: rotateY(188deg);
        }
        .img-tow{
            @include position(absolute, 100%, 100%);
            right: -13%;
            top: -31%;
        }
    }
}

.col {
    flex: 1 0 0%;
}
.row{
    flex-wrap: wrap;
}

@for $i from 1 to 7 {
    .row-cols-#{$i} > *{
        flex: 0 0 auto;
        width: $cols / $i;
    }
}
@media (min-width: 300px) {
    .row{
        flex-wrap: wrap;
    }
    .values-principles{
        margin-top: 21%;
        .values-principles-info{
            margin-top: 10%;
            .info{
                padding-right: 10%;
                p{
                    font-size: 17px;
                    width: 90%;
                }
            }
            .image{
                z-index: 1;
                width: 45%;
                img{
                    width: 100%;
                }
            }
            
        }
        .values-principles-info .item{
            flex-direction: column;
            justify-content: space-between;
            height: 80vh;
            align-items: flex-end;
            // margin: 10% 0;
            h1{
                @include position(absolute, 20%, 20%);
                top: -27%;
                right: 10%;
            }
            p{
                margin-right: -37px;
            }
            &::after{
                content: "";
                @include position(absolute, 5px, 26%);
                background-color: $thredColor;
                top: -24%;
                right: 7%;
            }
            .info{
                @include position(absolute, 76%, 70%);
                top: -10%;
                z-index: 0;
                align-items: center;
                right: 0;
            }
        }
        .values-principles-info .item:nth-child(even){
            flex-direction: column-reverse;
            align-items: flex-start;
            margin-bottom: 45%;
            h1{
                top: 24%;
                left: 23%;
                right: auto;
            }
            &::after{
                top: 27%;
                left: 45%;
                right: auto;
            }
            .info{
                // @include position(absolute, 76%, 70%);
                // top: -10%;
                // z-index: 0;
                left: 0;
                top: 40%;
                right: auto;
                justify-content: flex-end;
            }
        }
    }
}

@keyframes sliders-info{
    0%{
        clip-path: circle(0px at center);
    }100%{
        clip-path: circle(1000px at center);
        
    }
}

$col_sm: 100%;
@media (min-width: 576px) {
    @for $i from 1 to 7 {
        .row-cols-sm-#{$i} > *{
            flex: 0 0 auto;
            width: $col_sm / $i;
        }
    }

    .row{
        flex-wrap: wrap;
    }
}
@media (min-width: 768px) {
    @for $i from 1 to 7 {
        .row-cols-md-#{$i} > *{
            flex: 0 0 auto;
            width: $col_sm / $i;
        }
    }
    
}
@media (min-width: 992px) {
    @for $i from 1 to 7 {
        .row-cols-lg-#{$i} > *{
            flex: 0 0 auto;
            width: $col_sm / $i;
        }
    }
    
    .values-principles{
        margin-top: 10%;
        .values-principles-info{
            margin-top: 10%;
            .info{
                padding-right: 10%;
                p{
                    font-size: 20px;
                    width: 70%;
                }
            }
            .image{
                z-index: 1;
                width: 45%;
                img{
                    width: 100%;
                }
            }
            
        }
        
        .values-principles-info .item{
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            height: auto;
            // margin: 10% 0;
            h1{
                @include position(absolute, 20%, 20%);
                top: -27%;
                right: 10%;
            }
            p{
                margin-right: -37px;
            }
            &::after{
                content: "";
                @include position(absolute, 5px, 26%);
                background-color: $thredColor;
                top: -24%;
                right: 7%;
            }
            .info{
                @include position(absolute, 76%, 70%);
                top: -10%;
                z-index: 0;
                align-items: center;
            }
        }
        .values-principles-info .item:nth-child(even){
            flex-direction: row-reverse;
            margin-bottom: 25%;
            h1{
                top: 24%;
                left: 23%;
                right: auto;
            }
            &::after{
                top: 27%;
                left: 45%;
                right: auto;
            }
            .info{
                left: 0;
                top: 40%;
                justify-content: flex-end;
            }
        }
    }

    .about-bank{
        .items-info{
            .item{
                p{
                    font-size: 20px;
                    width: 50%;
                }
            }
        }
    }
    .our-partners-info{
        .items-info{
            .row{
                flex-wrap: wrap;
                flex-direction: row;
                .partners-images{
                    width: 67%;
                }
                .number{
                    margin-top: -5%;
                    right: 95%;
                }
                .bank-message img{
                    width: 95%;
                }
            }
        }
    }
    .service-project{
        h1{
            font-size: 40px;
        }
    }
    .service-points{
        .row{
            .div-box{
                align-items: flex-end;
            }
        }
    }
    
}
@media (min-width: 1200px) {
    @for $i from 1 to 7 {
        .row-cols-lx-#{$i} > *{
            flex: 0 0 auto;
            width: $col_sm / $i;
        }
    }

    $font-size: 7em;

    @for $fs from 1 to 7 {
        .fs-#{$fs} {
            font-size: $font-size -$fs !important;
        }
    }
    
    .info-bank-about{
        .dot{
            &.active{
                &::after{
                    width: 32%;
                    height: 8%;
                    top: 49%;
                    right: -36%;
                }
            }
        }
        .row{
            flex-wrap: nowrap;
            .ul-list{
                width: 30%;
                ul{
                    flex-direction: column;
                }
            }
            .bank-info{
                width: 70%;
                .slider-info{
                    width: 85%;
                }
                p{
                    font-size: 18px;
                }
            }
        }
    }

    .service-points-map{
        .info-map{
            .row{
                width: 50%;
            }
        }
    }
}




// @media(max-width:768px){
//     .row{
//         flex-wrap: wrap;
//     }
//     .row > * {
//         flex-shrink: 0;
//         width: 100%;
//         max-width: 100%;
//     }
// }




