.navbar {
  z-index: 1;
}

.navbar .nav-items {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 100%;
  background-color: #423064;
  top: 0;
  -webkit-transition: .4s ease left;
  transition: .4s ease left;
}

.navbar .nav-items ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1%;
  top: 0;
  background-color: #73659A;
  opacity: .5;
  -webkit-box-shadow: 0 20px 125px 100px #73659a;
          box-shadow: 0 20px 125px 100px #73659a;
  z-index: -1;
}

.navbar .nav-items.active {
  left: 0;
}

.navbar .row {
  width: 100%;
}

.navbar .navbar-top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar .navbar-top .logo {
  display: none;
}

.navbar .hamburger {
  position: relative;
  width: 60px;
  height: 60px;
  border: 3px solid white;
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.navbar .hamburger::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid white;
  -webkit-animation: hamburger 1s ease infinite;
          animation: hamburger 1s ease infinite;
}

.navbar .hamburger .bar {
  height: 2.7px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}

.navbar .hamburger .bar::after, .navbar .hamburger .bar::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: white;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition-property: top bottom;
  transition-property: top bottom;
}

.navbar .hamburger .bar::after {
  top: 8px;
}

.navbar .hamburger .bar::before {
  bottom: 8px;
}

.navbar .hamburger.active .bar::before {
  bottom: 0;
}

.navbar .hamburger.active .bar::after {
  top: 0;
}

.navbar li.active::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 16px;
  top: 71%;
  left: 41%;
  background-color: #FFF;
}

.navbar li .category-parent {
  position: absolute;
  width: 100%;
  height: 50vh;
  background-color: #FFF;
  top: 22%;
  color: black;
  left: 0;
  overflow: hidden;
  display: none;
}

.navbar li .category-parent img {
  position: absolute;
  width: 100%;
  height: 50vh;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar li:hover .category-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: parent 1s ease-in-out;
          animation: parent 1s ease-in-out;
}

.navbar .logo-bank {
  position: relative;
  z-index: 10;
}

.navbar .modile img {
  width: 70%;
}

.navbar hr {
  display: none;
}

@-webkit-keyframes hamburger {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes hamburger {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@-webkit-keyframes parent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes parent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 992px) {
  .navbar .hamburger {
    display: none;
  }
  .navbar .navbar-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar .logo-bank {
    display: none;
  }
  .navbar .navbar-top .logo {
    display: block;
  }
  .navbar .nav-items {
    position: initial;
    display: block;
    height: auto;
    background-color: transparent;
  }
  .col-md-12 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar hr {
    display: block;
  }
  .navbar li .category-parent {
    top: 101%;
  }
}

body {
  font-weight: normal;
}

.container {
  padding-left: 5rem;
  padding-right: 5rem;
  position: relative;
}

.fixed {
  position: fixed;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main-color {
  color: #423064;
}

.text-white {
  color: #FFF;
}

.bg-white {
  background-color: #FFF;
}

.text-second-color {
  color: #73659A;
}

.text-thred-color {
  color: #E26E0B;
}

.text-info {
  color: #3cbe52;
}

.bg-second-color {
  background-color: #73659A;
}

.bg-thred-color {
  background-color: #E26E0B;
}

.bg-info {
  background-color: #3cbe52;
}

.bg-linear-gradient-main {
  background-image: linear-gradient(60deg, #423064 0%, #73659A 100%);
}

.fs-1 {
  font-size: calc(1.375rem + 1.5vw) !important;
}

.fs-2 {
  font-size: calc(1.325rem + 0.9vw) !important;
}

.fs-3 {
  font-size: calc(1.3rem + 0.6vw) !important;
}

.fs-4 {
  font-size: calc(1.275rem + 0.3vw) !important;
}

.fs-5 {
  font-size: 1.25rem !important;
}

.fs-6 {
  font-size: 1rem !important;
}

hr {
  height: 1px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.list-none {
  list-style: none;
}

ul {
  list-style: none;
}

.bg-transparent {
  background-color: transparent;
}

.text-transparent {
  color: transparent;
}

.border {
  border: 1px solid #F2F5FA;
}

.border-second-color {
  border: 1px solid #73659A;
}

.border-0 {
  border: none;
}

.border-bottom {
  border-bottom: 3px solid #F2F5FA;
}

.box-shadow {
  -webkit-box-shadow: 0px 6px 9px 7px #F2F5FA;
          box-shadow: 0px 6px 9px 7px #F2F5FA;
}

.btn-main {
  border: 2px solid #73659A;
  border-radius: 3px;
  font-size: 17px;
  padding: 15px 50px;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 1;
}

.fw-bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.font-family {
  font-family: 'Helvetica Neue LT Pro';
  font-weight: 900;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.25rem;
}

.border-bottom-white-0 {
  border-bottom: 0px solid white;
}

.border-bottom-white-1 {
  border-bottom: 1px solid white;
}

.border-bottom-white-2 {
  border-bottom: 2px solid white;
}

.border-bottom-white-3 {
  border-bottom: 3px solid white;
}

.border-bottom-white-4 {
  border-bottom: 4px solid white;
}

.border-bottom-second-0 {
  border-bottom: 0px solid #73659A;
}

.border-bottom-second-1 {
  border-bottom: 1px solid #73659A;
}

.border-bottom-second-2 {
  border-bottom: 2px solid #73659A;
}

.border-bottom-second-3 {
  border-bottom: 3px solid #73659A;
}

.border-bottom-second-4 {
  border-bottom: 4px solid #73659A;
}

.col-md-1 {
  width: 8.33333%;
  margin: 0 10px;
}

.col-md-2 {
  width: 16.66667%;
  margin: 0 10px;
}

.col-md-3 {
  width: 25%;
  margin: 0 10px;
}

.col-md-4 {
  width: 33.33333%;
  margin: 0 10px;
}

.col-md-5 {
  width: 41.66667%;
  margin: 0 10px;
}

.col-md-6 {
  width: 50%;
  margin: 0 10px;
}

.col-md-7 {
  width: 58.33333%;
  margin: 0 10px;
}

.col-md-8 {
  width: 66.66667%;
  margin: 0 10px;
}

.col-md-9 {
  width: 75%;
  margin: 0 10px;
}

.col-md-10 {
  width: 83.33333%;
  margin: 0 10px;
}

.col-md-11 {
  width: 91.66667%;
  margin: 0 10px;
}

.col-md-12 {
  width: 100%;
  margin: 0 10px;
}

.text-center {
  text-align: "senter";
}

.text-left {
  text-align: "left";
}

.text-right {
  text-align: "right";
}

.m-0 {
  margin: 0rem !important;
}

.m-1 {
  margin: 0.5rem !important;
}

.m-2 {
  margin: 1rem !important;
}

.m-3 {
  margin: 1.5rem !important;
}

.m-4 {
  margin: 2rem !important;
}

.m-5 {
  margin: 2.5rem !important;
}

.mt-0 {
  margin-top: 0rem !important;
}

.mt-1 {
  margin-top: 0.5rem !important;
}

.mt-2 {
  margin-top: 1rem !important;
}

.mt-3 {
  margin-top: 1.5rem !important;
}

.mt-4 {
  margin-top: 2rem !important;
}

.mt-5 {
  margin-top: 2.5rem !important;
}

.mb-0 {
  margin-bottom: 0rem !important;
}

.mb-1 {
  margin-bottom: 0.5rem !important;
}

.mb-2 {
  margin-bottom: 1rem !important;
}

.mb-3 {
  margin-bottom: 1.5rem !important;
}

.mb-4 {
  margin-bottom: 2rem !important;
}

.mb-5 {
  margin-bottom: 2.5rem !important;
}

.me-0 {
  margin-left: 0rem !important;
}

.me-1 {
  margin-left: 0.5rem !important;
}

.me-2 {
  margin-left: 1rem !important;
}

.me-3 {
  margin-left: 1.5rem !important;
}

.me-4 {
  margin-left: 2rem !important;
}

.me-5 {
  margin-left: 2.5rem !important;
}

.ms-0 {
  margin-right: 0rem !important;
}

.ms-1 {
  margin-right: 0.5rem !important;
}

.ms-2 {
  margin-right: 1rem !important;
}

.ms-3 {
  margin-right: 1.5rem !important;
}

.ms-4 {
  margin-right: 2rem !important;
}

.ms-5 {
  margin-right: 2.5rem !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 1rem !important;
}

.p-3 {
  padding: 1.5rem !important;
}

.p-4 {
  padding: 2rem !important;
}

.p-5 {
  padding: 2.5rem !important;
}

.py-1 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-2 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-3 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-4 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.py-5 {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}

.px-1 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.px-2 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.px-3 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.px-4 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.px-5 {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}

.pt-1 {
  padding-top: 0.5rem !important;
}

.pt-2 {
  padding-top: 1rem !important;
}

.pt-3 {
  padding-top: 1.5rem !important;
}

.pt-4 {
  padding-top: 2rem !important;
}

.pt-5 {
  padding-top: 2.5rem !important;
}

.pb-1 {
  padding-bottom: 0.5rem !important;
}

.pb-2 {
  padding-bottom: 1rem !important;
}

.pb-3 {
  padding-bottom: 1.5rem !important;
}

.pb-4 {
  padding-bottom: 2rem !important;
}

.pb-5 {
  padding-bottom: 2.5rem !important;
}

.pe-1 {
  padding-left: 0.5rem !important;
}

.pe-2 {
  padding-left: 1rem !important;
}

.pe-3 {
  padding-left: 1.5rem !important;
}

.pe-4 {
  padding-left: 2rem !important;
}

.pe-5 {
  padding-left: 2.5rem !important;
}

.ps-1 {
  padding-right: 0.5rem !important;
}

.ps-2 {
  padding-right: 1rem !important;
}

.ps-3 {
  padding-right: 1.5rem !important;
}

.ps-4 {
  padding-right: 2rem !important;
}

.ps-5 {
  padding-right: 2.5rem !important;
}

.wv-10 {
  width: 10vw;
}

.wv-20 {
  width: 20vw;
}

.wv-30 {
  width: 30vw;
}

.wv-40 {
  width: 40vw;
}

.wv-50 {
  width: 50vw;
}

.wv-60 {
  width: 60vw;
}

.wv-70 {
  width: 70vw;
}

.wv-80 {
  width: 80vw;
}

.wv-90 {
  width: 90vw;
}

.wv-100 {
  width: 100vw;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.hv-10 {
  min-height: 10vh;
}

.hv-20 {
  min-height: 20vh;
}

.hv-30 {
  min-height: 30vh;
}

.hv-40 {
  min-height: 40vh;
}

.hv-50 {
  min-height: 50vh;
}

.hv-60 {
  min-height: 60vh;
}

.hv-70 {
  min-height: 70vh;
}

.hv-80 {
  min-height: 80vh;
}

.hv-90 {
  min-height: 90vh;
}

.hv-100 {
  min-height: 100vh;
}

.h-10 {
  height: 10%;
}

.h-20 {
  height: 20%;
}

.h-30 {
  height: 30%;
}

.h-40 {
  height: 40%;
}

.h-50 {
  height: 50%;
}

.h-60 {
  height: 60%;
}

.h-70 {
  height: 70%;
}

.h-80 {
  height: 80%;
}

.h-90 {
  height: 90%;
}

.h-100 {
  height: 100%;
}

.ar {
  direction: rtl;
}

.me-2 {
  margin-right: 1.5rem;
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.home .hero {
  -webkit-transform: inherit;
          transform: inherit;
  overflow: hidden;
}

.home .hero .hero-info {
  opacity: 0;
  left: 200%;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.home .hero .hero-info.active {
  opacity: 1;
  position: relative;
  left: 0;
}

.home .bottom {
  position: absolute;
  width: 10px;
  height: 22px;
  right: 10%;
  top: 50%;
  z-index: 1000;
}

.home .bottom ul li {
  width: 4px;
  height: 29px;
  background-color: white;
  margin: 6px;
  position: relative;
}

.home .bottom ul li.active::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 16px;
  top: 0;
  background-color: #423064;
}

.rate-list {
  -webkit-box-shadow: 0px 4px 6px 5px #F2F5FA;
          box-shadow: 0px 4px 6px 5px #F2F5FA;
}

.mySlides.active {
  -webkit-animation: myslides 1s ease-in-out;
          animation: myslides 1s ease-in-out;
}

@-webkit-keyframes myslides {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes myslides {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.services {
  width: 98vw;
}

.services .images .images-transform {
  -webkit-transform: scaleX(2.5);
          transform: scaleX(2.5);
  top: 8%;
  left: 51%;
}

.services .images .img-tow {
  top: 5%;
}

.services::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: white;
  opacity: .9;
  top: 45%;
  left: 0;
}

.services .images-kuraimi {
  top: 45%;
  width: 100%;
}

.services .trends {
  top: 63%;
  z-index: 1;
}

.services .trends .per-btn::after, .services .trends .next-btn::after {
  content: "";
  position: absolute;
  width: 2%;
  height: 37%;
  border-top: 3px solid #73659A;
  border-left: 3px solid #73659A;
  top: 20%;
  cursor: pointer;
}

.services .trends .per-btn::after {
  left: 5%;
  -webkit-transform: rotateZ(-39deg);
          transform: rotateZ(-39deg);
}

.services .trends .next-btn::after {
  right: 5%;
  -webkit-transform: rotateZ(140deg);
          transform: rotateZ(140deg);
}

.services .dot.active {
  color: #423064;
  font-weight: bold;
  position: relative;
  -webkit-animation: myslides 1s ease-in-out;
          animation: myslides 1s ease-in-out;
}

.services .dot.active::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 16px;
  top: 71%;
  left: 50%;
  background-color: #73659A;
}

.app {
  background-color: #eff1f1;
  margin-top: 10%;
}

.app .slides-app {
  overflow-x: clip;
}

.app .slides-app .item-app {
  -webkit-animation: appLeft 1.2s ease-in-out forwards;
          animation: appLeft 1.2s ease-in-out forwards;
  border-radius: 10px;
}

.app .slides-app .item-app.active {
  -webkit-animation: appRight 1.2s ease-in-out forwards;
          animation: appRight 1.2s ease-in-out forwards;
}

.app .cicle {
  z-index: 10;
  height: 9px;
}

@-webkit-keyframes appRight {
  0% {
    left: -66%;
    height: auto;
  }
  100% {
    left: 20%;
    height: 45vh;
  }
}

@keyframes appRight {
  0% {
    left: -66%;
    height: auto;
  }
  100% {
    left: 20%;
    height: 45vh;
  }
}

@-webkit-keyframes appLeft {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  70% {
    left: -166%;
    opacity: .5;
  }
  100% {
    left: -66%;
    opacity: 1;
  }
}

@keyframes appLeft {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  70% {
    left: -166%;
    opacity: .5;
  }
  100% {
    left: -66%;
    opacity: 1;
  }
}

.items.active {
  background-color: #73659A;
  width: 20%;
}

.items {
  background-color: #9e9d9d;
  width: 5%;
  margin-right: 10px;
  border-radius: 23px;
  height: 100%;
}

.news {
  margin-top: 6rem;
}

.news .text-titlr {
  margin-bottom: 5rem;
}

.news::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0%;
  bottom: 0px;
  border: 581px solid transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-bottom-color: #f2f5f5;
  left: 50%;
}

.news .news-info {
  z-index: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background-color: #423064d3;
  -webkit-clip-path: circle(0px at top);
          clip-path: circle(0px at top);
}

.news .news-info::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 10%;
  background-color: #F2F5FA;
  top: 0;
  left: 50%;
}

.news .content {
  overflow: hidden;
}

.news .content:hover .news-info {
  top: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-clip-path: circle(1000px at top);
          clip-path: circle(1000px at top);
}

.news .content .news-button button {
  margin: 5% 29%;
}

.news .card-slider {
  scroll-behavior: smooth;
  overflow-x: auto;
}

.news .card-slider .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 43%;
  margin-right: 37px;
  -webkit-box-shadow: 0px 16px 6px 1px white;
          box-shadow: 0px 16px 6px 1px white;
}

.news .card-slider::-webkit-scrollbar {
  display: none;
}

.news .trends {
  top: 45%;
  z-index: 1;
}

.news .trends .per-btn::after, .news .trends .next-btn::after {
  content: "";
  position: absolute;
  width: 2%;
  height: 37%;
  border-top: 3px solid #73659A;
  border-left: 3px solid #73659A;
  top: 20%;
  cursor: pointer;
}

.news .trends .per-btn::after {
  left: 5%;
  -webkit-transform: rotateZ(-39deg);
          transform: rotateZ(-39deg);
}

.news .trends .next-btn::after {
  right: 5%;
  -webkit-transform: rotateZ(140deg);
          transform: rotateZ(140deg);
}

.mySlides p {
  font-size: 20px;
  margin: 0;
}

.numbers {
  background-image: linear-gradient(60deg, #423064f5 0%, #261a3cfd 100%);
}

.numbers .number h1 a::before {
  font-size: 30rem;
  z-index: -1;
  content: attr(data-after);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  letter-spacing: 50px;
  -webkit-transition: 1s ease letter-spacing;
  transition: 1s ease letter-spacing;
  color: black;
}

.numbers .number h1:hover a::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

.numbers .number p {
  font-size: 17px;
}

.maps h3 {
  border-left: 4px solid #73659A;
}

.footer {
  overflow: hidden;
}

.footer h1 {
  font-size: 15px;
}

.footer p {
  font-size: 13px;
  color: #CCC;
}

.footer .layout-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.footer .layout-image .img-one {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -13%;
  top: -31%;
  -webkit-transform: rotateY(188deg);
          transform: rotateY(188deg);
}

.footer .layout-image .img-tow {
  position: absolute;
  width: 100%;
  height: 100%;
  right: -13%;
  top: -31%;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
}

@media (min-width: 576px) {
  .row-cols-sm-1 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333%;
  }
  .row-cols-sm-4 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.66667%;
  }
  .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mySlides .images {
    display: none;
  }
  .app .cicle {
    top: 92%;
  }
}

@media (min-width: 768px) {
  .row-cols-md-1 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333%;
  }
  .row-cols-md-4 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.66667%;
  }
  .mySlides .images {
    width: 30%;
    display: block;
  }
  .mySlides .mySlides-info {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .row-cols-lg-1 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333%;
  }
  .row-cols-lg-4 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.66667%;
  }
  .news .card-slider .card {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .row-cols-lx-1 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lx-2 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lx-3 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333%;
  }
  .row-cols-lx-4 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lx-5 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lx-6 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.66667%;
  }
  .fs-1 {
    font-size: 6em !important;
  }
  .fs-2 {
    font-size: 5em !important;
  }
  .fs-3 {
    font-size: 4em !important;
  }
  .fs-4 {
    font-size: 3em !important;
  }
  .fs-5 {
    font-size: 2em !important;
  }
  .fs-6 {
    font-size: 1em !important;
  }
  .number p {
    font-size: 20px !important;
  }
  .app .cicle {
    top: 105%;
  }
}
/*# sourceMappingURL=main.css.map */