.errors-validation {
    top: 10%;
    left: 10%;
    z-index: 100;
}
.errors-validation .errors-list {
    /* opacity: .5; */
    background-color: #985151b5;
    list-style: none;
    border-radius: 10px;
}

@media (min-width: 576px) {
    .editor .modal-dialog {
        max-width: 50rem;
        margin: 1.75rem auto;
    }
    .maps .modal-dialog {
        max-width: 70rem;
        margin: 1.75rem auto;
    }
}
.success {
    position: relative;
}
.show-success {
    position: fixed;
    top: 80%;
    right: 0;
    background-color: #342a4ad6;
    color: white;
    border-right: 15px solid #342a4a;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    z-index: 10;
    animation: show-success 10s ease forwards;
}

@keyframes show-success {
    0% {
        right: 0;
        opacity: 0;
    }
    20% {
        right: 50%;
        opacity: 1;
    }
    40% {
        right: 50%;
        opacity: 0.9;
    }
    60% {
        right: 55%;
        opacity: 0.7;
    }
    100% {
        right: 200%;
        opacity: 0;
    }
}
