
// Start Service Info Section
.service{
    &::after{
        @include backgroundSection();
    }
    
    .row{
        z-index: 1;
        top: 7%;
        .info > *{
            margin-right: 100px;
        }
    }

    .info{
        justify-content: flex-end;
        height: 43vh;
        p{
            font-size: 15px;
        }
        .text-infos{
            p{
                margin: 6px auto;
                font-size: 15px;
                letter-spacing: 1.5px;
                color: #d3d2d2;
                font-weight: bold;
            }
        }
    }

    .images{
        justify-content: center;
    }
    
    .service-img{
        width: 52%;
        z-index: 11;
        margin-top: 0%;
    }
    .service-img-2{
        @include position(absolute, 45%, auto);
        left: 27%;
        top: 22%;
        z-index: 11;
    }
    
}
// End Service Info Section

// Start Service Advantages Section
.features{
    .features-info{
        @include position(relative, 95%, 50%);
        margin-top: 0%;
        z-index: 1;
        .icons{
            width: 20%;
            h1{
                top: -57%;
                left: 34%;
                font-size: 2.5em;
            }
        }
        p{
            font-size: 15px;
            width: 63%;
        }
        .title{
            font-size: 20px;
        }
    }
    p{
        font-size: 12px;
    }
    .sliders.active{
        @include animationSlider();
    }
    .dot-feature{
        color: #dfdddd;
    }

    .dot-feature.active{
        color: $secondColor;
        font-weight: bold;
        border-bottom: 3px solid $secondColor;
        @include animationSlider();
    }
    .line-1{
        @include imagesLine(11%, 26%, 3%);
    }
    .line-2{
        @include imagesLine(0%, 40%, 3%);
        height: 30%;
        transform: rotate(162deg);
    }
    .line-3{
        @include imagesLine(0%, 36%, 3%);
    }
}
.features-slider{
    .sliders-info{
        position: absolute;
        height: 100%;
        animation: sliders-info 5s ease-in-out;
        top: 0;
        text-align: center;
        color: white;
        background-color: #423064af;
        transition: all 1s ease-in-out;
        width: 100%;
        padding: 3rem;
    }
}
// End Service Advantages Section


// Start Service Success Stories Section
.success-stories{
    .success-info{
        overflow: hidden;
        &.active{
            @include animationSlider();
        }
        img{
            top: 0;
            object-fit: cover;
        }
        &::after{
            content: "";
            @include position(absolute, 100%, 100%);
            background-image: linear-gradient(60deg, #351f5c00 0%, #261a3cde 100%);
            top: 0;
            z-index: 0;
        }
        .info{
            z-index: 1;
            padding: 4rem;
            p{
                width: 80%;
                line-height: 1.8;
                margin: 3px 0;
                color: #dadada;
                letter-spacing: 1.5px;
            }
        }
    }
}
// End Service Success Stories Section
// Start Onther Service Section
.onther-services{
    margin-top: 15%;
    margin-bottom: 5%;
    .onther-services-slider{
        scroll-behavior: smooth;
        transition: all 1s ease-in-out;
        overflow-x: auto;
        .card{
            flex: 0 0 auto;
            width: 44%;
            margin: 0 20px;
            box-shadow: 0px 16px 6px 1px white;
            
            .card-img{
                height: 58vh;
                background-image: linear-gradient(60deg, #351f5cb0 0%, #261a3ccb 100%);
                img{
                    object-fit: cover;
                }
            }
        }
        &::-webkit-scrollbar{
            display: none;
        }
        
    }
    .trand{
        left: 0;
        top: 0;
        z-index: 0;
        .right, .left{
            width: 20%;
            height: 100%;
            background-image: linear-gradient(60deg, #fbfbfc00 0%, rgba(255, 255, 255, 0.658) 100%);
        }
    }
}
// End Onther Service Section
@include breakPoints(medium){
    // Start Service Advantages Section
    .features-slider{
        .sliders-info{
            position: relative;
            height: auto;
            text-align: inherit;
            color: #4b4a4a;
            background-color: transparent;
            left: 0;
            width: 50%;
            transition: none;
            h1{
                font-size: 2.5rem;
            }
            p{
                font-size: 18px;
                margin: 5px 0;
            }
            .button{
                margin-top: 8%;
                p{
                    width: 15%;
                    border-bottom: 2px solid $secondColor;
                }
            }
        }
        .sliders{
            .col{
                padding: 4rem;
            }
        }
    }
    // End Service Advantages Section

    // Start Service Success Stories Section
    .success-stories{
        .success-info{
            .info{
                p{
                    width: 45%;
                    color: #c4c0c0;
                }
            }
        }
    }
    // End Service Success Stories Section
    // Start Onther Service Section
    .onther-services{
        .onther-services-slider{
            .card{
                width: 19%;
            }
        }
    }
    // End Onther Service Section
}
@include breakPoints(large){
    // Start Service Info Section
    .service{
        .info{
            justify-content: center;
            min-height: 81vh;
        }
        .service-img{
            width: 100%;
            z-index: 11;
            margin-top: 17%;
        }
        .service-img-2{
            width: 69%;
            left: 10%;
            top: 29%;
        }
    }
    // End Service Info Section

    // Start Service Advantages Section
    .features{
        .features-info{
            margin-top: -10%;
        }
    }
    // End Service Advantages Section
}