@mixin position($position, $width, $height) {
    position: $position;
    width: $width;
    height: $height;
}


@mixin trendsBotton($trendsTop, $width, $height) {
    .trends{
        top: $trendsTop;
        z-index: 1;
        .per-btn, .next-btn{
            &::after{
                content: "";
                @include position(absolute, $width, $height);
                border-top: 3px solid $secondColor;
                border-left: 3px solid $secondColor;
                top: 20%;
                cursor: pointer;
            }
        }
        .per-btn::after{
            left: 5%;
            transform: rotateZ(-39deg);
        }
        .next-btn::after{
            right: 5%;
            transform: rotateZ(140deg);
        }
    }
}

@mixin buttomStyle($btnName) {
    .#{$btnName}{
        border: 2px solid $secondColor;
        border-radius: 3px;
        font-size: 17px;
        padding: 15px 50px;
    }
}

@mixin animationSlider() {
    animation: myslides 1s ease-in-out;
    @keyframes myslides{
        0%{
            opacity: 0;
        }100%{
            opacity: 1;
        }
    }
}

@mixin imagesLine($left, $top, $width) {
    left: $left;
    top: $top;
    width: $width;
}

@mixin backgroundSection() {
    content: "";
    @include position(absolute, 100%, 100%);
    background-image: linear-gradient(60deg, #351f5cb0 0%, #261a3ccb 100%);
    z-index: 0;
    top: 0;
}

@mixin breakPoints($point) {
    @if $point == small {
        @media (min-width: 576px) {
            @content;
        }
    } @else if $point == mobile{
        @media (min-width: 768px) {
            @content;
        }
    } @else if $point == medium{
        @media (min-width: 992px) {
            @content;
        }
    } @else if $point == large{
        @media (min-width: 1200px) {
            @content;
        }
    }
}